.restaurant-page {
  contain: paint;

  &__container {
    max-width: 140rem !important;
    display: flex;
    gap: 3rem;
  }

  &__sidebar {
    margin-top: 1rem;
    position: relative;
    width: 25%;
    align-self: flex-start;
    position: sticky;
    top: 6rem;
    min-height: calc(100vh - 7rem);
    padding: 5rem 0rem 2rem;
    // overflow-x: hidden;
  }

  &__closed {
    margin-bottom: 2rem;
  }
}

.restaurant-page .dishes-list {
  margin-top: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;

  &__container {
    flex: 1;
    // background-color: #f0f8ff;
    background-color: #ff9c3f17;
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  &__category {
    font-size: 1.8rem;
    padding: 2rem 1rem;
    border-radius: 10rem;
    border: 1px solid #bdbdbd;
    transition: all 0.15s ease-in-out;

    &.MuiChip-filled {
      border: 1px solid var(--color-primary);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    gap: 3rem 1.5rem;
  }

  &__no-items {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
  }
}

.restaurant-page .restaurant-info {
  &__img-container {
    position: relative;
    max-width: 23rem;
    width: 80%;
    margin: 0 auto;
  }

  &__cart-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    padding-top: 0.3rem;
    justify-content: center;
    transform: translate(-40%, -40%);
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      transform: translate(-40%, -40%) scale(1.1);
    }

    &:active {
      transform: translate(-40%, -40%) scale(0.9);
    }

    & > div {
      position: absolute;
      z-index: 1;
      right: -0.5rem;
      top: -0.5rem;
      font-weight: 500;
      background-color: var(--color-primary);
      color: var(--color-white);
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      display: grid;
      place-content: center;
    }
  }

  &__img {
    display: block;
    border-radius: 3rem;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
  }

  &__details {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    svg {
      font-size: 2.4rem;
      margin-right: 0.5rem;
    }
  }

  &__address {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: flex-end;
  }

  &__phone {
    font-weight: 500;
    display: flex;
    align-items: flex-end;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__desc {
    margin-top: 2rem;
    background: #b4b9bc1a;
    border: 1px solid #83868726;
    border-radius: 1rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .restaurant-page {
    &__container {
      padding: 0 2rem;
      gap: 2rem;
    }

    &__sidebar {
      width: 28%;
    }
  }

  .restaurant-page .dishes-list {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1024px) {
  .restaurant-page {
    contain: none;

    &__container {
      gap: 2rem;
      flex-direction: column;
    }

    &__sidebar {
      min-height: min-content;
      position: relative;
      width: 100%;
      top: 0;
      padding: 4rem 0rem 0;
      max-width: 60rem;
      margin: 0 auto;
    }

    .restaurant-info {
      display: grid;
      gap: 3rem;
      grid-template-columns: 14rem 1fr;

      &__cart-btn {
        left: auto;
        right: 0rem;
        top: 9rem;
        position: fixed;
      }

      &__title {
        margin-bottom: 0rem;
        margin-top: 1rem;
      }

      &__img-container {
        margin: 0;
        width: 100%;
        grid-row: 1 / 4;
      }

      &__details {
        margin-top: 0;
        flex-grow: 1;
        display: contents;
      }

      &__desc {
        grid-column: 1 / 3;
        margin-top: 2rem;
      }
    }
  }

  .restaurant-page .dishes-list {
    order: 1;
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  .restaurant-page .dishes-list {
    order: 1;
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 550px) {
  .restaurant-page {
    .container {
      padding: 0 1rem;
    }
  }

  .restaurant-page .dishes-list {
    &__container {
      padding: 1rem;
    }

    &__category {
      padding: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  .restaurant-page .dishes-list {
    &__items {
      gap: 2rem 0.8rem;
    }
  }

  .restaurant-page .restaurant-info {
    gap: 1.5rem;
  }
}
