.auth-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    max-width: 60rem;
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 3rem;
  }

  &__input-container {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-primary-light);
    border-radius: 50px;
    position: relative;
    width: 40rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }

  &__input {
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 50px;
    flex: 1;
    height: 5rem;
    font-size: 2rem;
    padding: 0 9rem 0 3rem;
  }

  &__label {
    margin-bottom: 0.7rem;
    margin-left: 1rem;
  }

  &__timer {
    margin-bottom: 2rem;
    color: var(--color-text-gray);
  }

  &__button {
    font-family: inherit;
    height: 4rem;
    border-radius: 50px;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
    outline: none;
    color: var(--color-white);
    background: linear-gradient(90deg, var(--color-primary), var(--color-primary-light));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    &:active {
      transform: scale(0.95);
    }

    svg {
      font-size: 2.6rem;
    }

    &:disabled {
      opacity: 0.5;
    }

    &--inline {
      position: absolute;
      right: 0.5rem;
    }
  }

  @media screen and (max-width: 450px) {
    &__container {
      padding-left: 2rem;
      padding-right: 2rem;
      width: 95%;
      margin-bottom: 5rem;
    }

    &__input-container {
      width: 100%;
    }
  }
}
