.footer {
  background-color: var(--color-secondary);
  color: var(--color-white);
  text-align: center;
  padding: 5rem 0;
  margin-top: 15rem;

  &__title {
    font-size: 5.2rem;
    margin-bottom: 3rem;
    color: var(--color-primary);
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 8rem;

    a {
      display: flex;
      align-items: center;
      gap: 1rem;

      &:hover {
        color: var(--color-primary-light);
      }
    }
  }

  &__text {
    color: #aaa;
    margin-bottom: 1rem;
  }
}
