.restaurant-card {
  user-select: none;
  border: 1px solid var(--color-primary);
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  height: 100%;
  aspect-ratio: 3 / 4;

  &:hover {
    box-shadow: 0 0 1rem var(--color-primary-50);
    transform: translateY(-0.2rem);
  }

  &:active {
    transform: translateY(0);
  }

  &__img {
    img {
      box-shadow: 0 0 0.5rem var(--color-primary-50);
      width: 100%;
      object-fit: cover;
      aspect-ratio: 11 / 10;
      display: block;
      height: auto;
    }
  }

  &__info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem;
  }

  &__city {
    margin-top: 0.3rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    svg {
      width: 2rem;
      height: 2rem;
      margin-right: 0.3rem;
      color: var(--color-primary);
      padding-bottom: 0.1rem;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0.5rem;
  }
}
