.profile {
  &__img-container {
    position: relative;
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
    border-radius: 50%;
  }

  &__image {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    display: block;
    object-fit: cover;
  }

  &__img-edit {
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    background-color: $color-primary-light;

    svg {
      height: 2rem;
      width: 2rem;
      fill: $color-white;
    }
  }

  &__img-container:hover .profile__img-edit {
    background-color: $color-primary;
  }

  &__name {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 1.5rem 0;
    text-align: center;
  }

  &__details {
    p {
      margin-bottom: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__edit-btn {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }
}

.dashboard__profile-modal {
  .modal {
    &__profile-image {
      height: 25rem;
      width: 25rem;
      border-radius: 1rem;
      object-fit: cover;
      border: 1px solid $color-primary-light;
      margin-bottom: 2rem;
    }

    &__form-btns {
      display: flex;
      gap: 1rem;
    }

    &__form-btn {
      span {
        color: $color-white;
      }
    }
  }
}

.profileform {
  &__header {
    justify-content: flex-start !important;
    align-items: center;
    display: flex;
    gap: 2rem;

    h2 {
      margin-bottom: 0;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    padding: 0 !important;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__form {
    max-width: 70rem;
    margin: 4rem auto;
  }

  &__input {
    background-color: #fafafa;
    border: 1px solid $color-primary-90;

    &--textarea {
      max-width: 50rem;
      height: 15rem;
      font-family: $font-text;
      resize: none;
    }

    &--checkbox {
      padding: 0.4rem 1rem !important;
    }
  }

  &__form-group:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__submit {
    svg {
      color: $color-white;
    }
  }

  &__image-preview {
    width: 20rem;
    height: 20rem;
    border: 1px solid $color-primary-90;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
    object-fit: contain;
  }

  &__clear-image {
    margin-top: 1rem;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
