@import './variables.scss', './typography.scss', './layout.scss', './utilities.scss';

// Components
@import './Components/Header.scss', './Components/Mini.scss', './Components/Modal.scss', 
        './Components/Form.scss', './Components/Profile.scss', './Components/Categories.scss',
        './Components/Dishes.scss', './Components/Footer.scss';
 
// Pages
@import './Pages/Home.scss', './Pages/Auth.scss', './Pages/Dashboard.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: $color-text;
}
