.align-center {
  display: flex;
  align-items: center;
}

.center-self {
  margin: auto;
  display: block !important;
}

.hover-right {
  transition: transform 0.2s;
  &:hover {
    transform: translateX(0.3rem);
  }
}
