$color-primary: #ff4b00;
$color-primary-light: #ff9c3f;
$color-secondary: #323c5f;
$color-white: #fff;
$color-text: #0f172b;
$color-text-gray: #666666;

// typography
$font-logo: 'Oleo Script Swash Caps', cursive;
$font-text: 'Inter', sans-serif;
$font-size-h1: 3.8rem;

// layout
$max-width: 120rem;
$gutter: 3rem;
