$color-primary: #ff4b00;
$color-primary-light: #ff7b00;
$color-secondary: #323c5f;
$color-white: #fff;

// typography
$font-logo: 'Oleo Script Swash Caps', cursive;
$font-text: 'Inter', sans-serif;
$font-size-h1: 3.8rem;

// layout
$max-width: 120rem;
$gutter: 3rem;
