.auth {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: calc(100vh - 6rem);
    min-height: 70rem;
    max-height: 100rem;
    padding: 0 5rem;
  }

  &__title {
    font-size: 7.2rem;
  }

  &__subtitle {
    font-size: 2rem;
    margin: 1rem 0rem;
  }

  &__form {
    padding: 3rem;
    width: 100%;
    max-width: 40rem;
    background-color: $color-primary-50;
    border-radius: 1rem;
  }

  &__alert {
    margin-bottom: 3rem;
  }

  &__form-group {
    margin-bottom: 2rem;

    &:first-child {
      margin-top: 3rem;
    }

    &:last-child {
      margin-bottom: 3rem;
    }

    .button {
      margin-top: 2rem;

      span {
        color: $color-white;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__container {
      flex-direction: column;
      margin: 2rem 0 0;
    }

    &__column {
      width: 100%;
      height: auto;
      min-height: 0;
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: 4.2rem;
    }

    &__subtitle {
      font-size: 1.6rem;
    }

    &__form {
      padding: 2rem;
    }
  }

  @media screen and (max-width: 550px) {
    &__column {
      padding: 0rem;
    }
  }
}
