.dashboard {
  padding-top: 3rem;
  padding-bottom: 5rem;

  &__title {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    letter-spacing: -1px;
    font-weight: 600;
    color: $color-secondary;
  }

  &__card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-gap: 2rem;
  }

  &__card {
    border: 1px solid $color-primary-light;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 #00000015;
  }

  &__card-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-secondary;
    margin-bottom: 2rem;
  }

  &__main {
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__block {
    min-width: 25rem;
  }

  a.active {
    color: $color-primary;
  }
}

.dashboard .statistics {
  // min-height: 90%;

  &__toggle-group {
    margin-left: 1rem;
  }

  &__toggle-btn {
    height: 3rem;
    text-transform: capitalize;
  }

  &__content {
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
  }

  &__chart {
    margin: 2rem 0 4rem;
  }

  &__card {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #f0f8ff;

    &-title {
      font-weight: 400;
      letter-spacing: -0.5px;
      color: $color-secondary;
    }

    &-value {
      font-size: 2rem;
      font-weight: 600;
      margin: 2rem 0rem 1rem;
      text-align: center;
    }
  }
}
