.hero {
  &__container {
    padding-top: 4rem;
    height: calc(70vh);
    max-height: 80rem;
    min-height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: 7.2rem;
    font-weight: 800;
    letter-spacing: -1.5px;
    color: $color-text;

    &--highlight {
      background-image: linear-gradient(90deg, $color-primary, $color-primary-light);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__description {
    font-size: 2.4rem;
    font-weight: 300;
    color: $color-text-gray;
    margin-top: 2rem;
    letter-spacing: -0.48px;
    text-align: center;
    line-height: 3.8rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
  }
}

.about {
  margin-top: 2rem;
  padding-top: 8rem;
  text-align: center;

  &__subtitle {
    font-size: 2.6rem;
    margin-bottom: 3rem;
    display: inline-block;

    &::after {
      border-radius: 5px;
      content: '';
      display: block;
      width: 200%;
      height: 2px;
      background: linear-gradient(90deg, $color-primary, $color-primary-light);
      margin-top: 1.5rem;
      transform: translateX(-25%);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 0 8rem;
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 5rem;
    margin-top: 3rem;
  }

  &__desc {
    font-size: 2.2rem;
    font-weight: 300;
    color: $color-text-gray;
    line-height: 3.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      letter-spacing: -0.7px;
    }
  }

  &__image {
    border-radius: 2rem;
    max-height: 38rem;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    &__container {
      padding-top: 2rem;
      max-height: 70rem;
      min-height: 40rem;
    }

    &__title {
      font-size: 5.2rem;
    }

    &__description {
      font-size: 1.8rem;
      margin-top: 1.5rem;
      line-height: 3.2rem;
    }

    &__buttons {
      margin-top: 3rem;
    }
  }

  .about {
    &__subtitle {
      font-size: 2.2rem;
      margin-bottom: 2rem;
    }

    &__container {
      padding: 0 3rem;
      grid-template-columns: 56% 1fr;
    }

    &__desc {
      font-size: 1.8rem;
      line-height: 3.2rem;
    }

    &__image {
      max-height: 30rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    &__container {
      max-height: 55rem;
      min-height: 35rem;
    }
    
    &__title {
      text-align: center;
    }

    &__description {
      font-size: 1.6rem;
      line-height: 3rem;
    }

    &__buttons {
      margin-top: 2rem;
    }
  }

  .about {
    &__subtitle {
      font-size: 2rem;
    }

    &__container {
      grid-template-columns: 1fr;
    }

    &__desc {
      font-size: 1.6rem;
      line-height: 3rem;
    }

    &__image {
      max-height: 25rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .hero {
    &__title {
      text-align: center;
      font-size: 4.4rem;
    }

    &__container {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &__divider {
      display: none;
    }
  }
}
